body {
  color: black;
  padding: 0px;
  margin: 0 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

html {
  padding: 0;
  background-color: #f7fff7;
  transition: 0.5s;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
}

#screen {
  background-image: url("../images/common/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  width: 100%;
  height: 100vh;
  height: -webkit-fill-available;
  height: 100svh;
}

#topbar {
  height: 15%;
  padding: 0;
}

#topbar-time {
  position: absolute;
  padding: 0;
  margin: 0 0 0 0;
  right: 2%;
  top: 1%;
  max-width: 96%;
  overflow: hidden;
}

#weather-widget {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-height: 300px;
  background-color: rgb(68, 85, 129);
  opacity: 0.8;
  border-radius: 30px;
}

#weather-content {
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#weather-icon {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 500px) {
  #weather-icon {
    width: 125px;
    height: 125px;
  }

  #screen {
    outline: 2px solid red;
  }

  body {
    outline: 2px solid blue;
  }
}

@media screen and (max-width: 320px) {
  #weather-icon {
    width: 90px;
    height: 90px;
  }

  h1,
  h2 {
    font-size: medium;
  }
}
