body {
  color: black;
  padding: 0px;
  margin: 0 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

html {
  padding: 0;
  background-color: #f7fff7;
  transition: 0.5s;
}

#screen {
  background-image: url("../images/common/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  width: 480px;
  height: 100vh;
}

#topbar {
  height: 15vh;
  padding: 0;
}

#topbar-time {
  position: absolute;
  padding: 0;
  margin: 0 0 0 0;
  right: 2vw;
  top: 1vh;
}

#weather-widget {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-height: 300px;
  background-color: rgb(68, 85, 129);
  opacity: 0.8;
  border-radius: 30px;
}

#weather-content {
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#weather-icon {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  #screen {
    width: 100vw;
  }
}
