body {
  color: black;
  padding: 0px;
  margin: 0 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  padding: 0;
  background-color: #f7fff7;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  height: 80px;
  display: flex;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#footer > h3 {
  margin-right: 5px;
}

#footer > img {
  margin-right: 350px;
}

#navbar {
  min-height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top: 0;
  border-bottom: solid 2px #343434;
}

#personalia {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-bottom: 60px;
}

#personalia > .description {
  max-width: 600px;
}

#pimg {
  max-width: 250px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#personalia > p {
  max-width: 600px;
  padding: 10px;
  word-wrap: break-word;
}

#projects {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.projectElement {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-items: center;
  margin-top: 20px;
  max-width: 975px;
}

.projectElement > a > img {
  max-height: 200px;
  max-width: 300px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.projectElement > a > img:hover {
  transform: scale(1.05);
  opacity: 0.9;
  cursor: pointer;
}

.projectElement > p {
  margin-left: 30px;
  margin-right: 30px;
  flex-grow: 1;
  word-wrap: break-word;
}

.description > h3 {
  margin-left: 30px;
}

.description > p {
  margin-left: 30px;
  margin-right: 30px;
  flex-grow: 1;
  word-wrap: break-word;
}

#popduck {
  position: absolute;
  left: 10px;
  bottom: 10px;
  scale: 2;
}

#popduck:hover {
  cursor: pointer;
}

.projectWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

#bannerImage {
  max-width: 100%;
  height: auto;
  border-bottom: solid 2px #343434;
}

#projectDescription > h1 {
  text-align: center;
  align-items: center;
  text-decoration: underline #343434;
}

#projectDescription > h2 {
  text-align: center;
  align-items: center;
}

#projectDescription {
  padding: 1% 15% 0 15%;
}

#projectDescription > p {
  font-size: large;
  padding-left: 50px;
  padding-right: 50px;
}

#videoStillframe {
  max-width: 80%;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#videoStillframe:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.videoWrapper {
  margin-top: 40px;
  text-align: center;
}

.projectIntroImg {
  max-width: 80%;
  min-width: 400px;
}

.portfolioButton {
  border: 0;
  padding: 10px;
  font-size: large;
}

.portfolioButton:hover {
  cursor: pointer;
}

.portfolioButton:disabled:hover {
  cursor: default;
}

.portfolioButton:enabled {
  opacity: 0.4;
  transition: 0.3s;
}

.portfolioButton:enabled:hover {
  opacity: 0.9;
}

.projectBody {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%;
  font-size: large;
}

.projectBody > img {
  min-width: 400px;
  max-width: 40%;
  height: auto;
}

.projectParagraphRight {
  padding-right: 5%;
}

.projectParagraphLeft {
  padding-left: 5%;
}
#middleKingdomWrapper {
  background-color: #c9af75;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin-left: 50px;
}

#peasantWrapper {
  background-color: #7f9172;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin-left: 25px;
  margin-right: 25px;
}

#kyllingWrapper {
  background-color: #72a1e5;
  margin-left: 50px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

#happyWrapper {
  background-color: #aa8474;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.themeBrown {
  background-color: #c9af75;
}

.themeBrown > button {
  background-color: #c9af75;
  color: black;
}

.themeDarkBrown {
  background-color: #5e3d1f;
}

.themeDarkBrown > button {
  background-color: #5e3d1f;
  color: white;
}

.themeBrown > button:enabled {
  color: #343434;
}

.themeBrown > button:enabled:hover {
  color: black;
}

.themeWhite {
  background-color: #f7fff7;
}

.themeWhite > button {
  background-color: #f7fff7;
  color: #343434;
}

.themeGreen {
  background-color: #7f9172;
}

.themeGreen > button {
  background-color: #7f9172;
  color: #f7fff7;
}

.themeBlue {
  background-color: #2275c3;
}

.themeBlue > button {
  background-color: #2275c3;
  color: #f7fff7;
}

#github {
  max-height: 50px;
}

#githubWrapper {
  text-align: center;
  justify-content: center;
}

#video {
  text-align: center;
}

.description {
  display: flex;
  flex-direction: column;
  max-width: 975px;
}

.tldr {
  text-align: center;
  margin-bottom: 40px;
}

.projectFirstInfo {
  margin-top: 0px;
}

.marginTopDefault {
  margin-top: 80px;
}

#tidalpool {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  height: 100vh;
  width: 100vw;
  gap: 0;
}

.tidalPixel {
  float: left;
  background-color: darkblue;
}

.tidalStar {
  background-color: gold;
  animation: twinkle 3s infinite;
}

@media screen and (max-width: 1500px) {
  .projectBody {
    flex-direction: column;
  }

  .projectSecondInfo {
    order: 2;
    margin-top: 25px;
  }

  #projectSecondImage {
    order: 1;
  }

  .projectFirstInfo {
    margin-top: 25px;
  }

  .projectParagraphRight {
    padding-right: 0;
  }

  .projectParagraphLeft {
    padding-left: 0;
  }
}

@keyframes twinkle {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.8;
  }
}
